.env
__pycache__/
*.pyc
.DS_Store
.venv/
*.mp4
*.mp3
output_audio/
*.index
*.pkl

# Output directories & files
output_api/
output_artifacts/
pdf_to_text/text_chunks.json
rag_index/
unified_knowledge.json
uploads/
test.pdf
*.faiss
